html, body {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EBEBEB;
}

.brand-logo {
  width: 300px;
  text-align: right;
}

.vertigo {
  font-family: 'Megrim', sans-serif;
}

#drone-logo {
  margin: 5px;
  height: 18%;
  width: 18%;
}

#main-page {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.mySlides {
  /*display: none;*/
  height: 30vw;
  width: 60vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.words {
  text-align: center;
  font-size: 1.3em
}

#quote {
  width: 300px;
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px
}

#quote p {
  padding-top: 10px
}

#quote a {
  margin-bottom: 10px
}
