html, body {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  padding: 0;
}

.brand-logo {
  width: 300px;
  text-align: right;
}

.vertigo {
  font-family: 'Megrim', sans-serif;
}

#drone-logo {
  margin: 5px;
  height: 18%;
  width: 18%;
}

#main-page {
  margin-left: auto;
  margin-right: auto;
  /*width: 100%;*/
  display: flex;
  justify-content: center;
}

.mySlides {
  /*display: none;*/
  height: 500px;
}
