body {
  font-family: 'Julius Sans One', sans-serif;
}

.vertigo {
  font-family: 'Megrim', sans-serif;
}

#drone-logo {
  height: 10%;
  width: 10%;
}
#main-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#main-page img {
  height: 45%;
  width: 45%;
  margin-top: 20px;
  box-shadow: 4px 3px 3px #bdbdbd;
  border-radius: 200px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


#brandon:hover {
  opacity: .2;
}

#joscelyn:hover {
  opacity: .2;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#about-us > h1 {
  text-align: center;
  font-size: 3em;
}

#about-us > p {
  margin: 5%;
  font-size: 1.5em
}

.carousel img {
  height: 100%;
}
