body {
  font-family: 'Julius Sans One', sans-serif;
  background-color: #EBEBEB;
}

.vertigo {
  font-family: 'Megrim', sans-serif;
}

#drone-logo {
  margin-top: 6px;
  height: 10%;
  width: 10%;
}
#main-page {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 0;
}

#main-page img {
  height: 45%;
  width: 45%;
  margin-top: 20px;
  box-shadow: 4px 3px 3px #bdbdbd;
  border-radius: 300px;
  opacity: 1;
}

.text {
  font-size: 1.5em;
}

#brandon:hover {
  opacity: .2;
}

#joscelyn:hover {
  opacity: .2;
}

#about-us > h1 {
  text-align: center;
  font-size: 3em;
}

#about-us > p {
  margin: 5%;
  font-size: 1.5em;
  text-align: center;
}

.carousel img {
  height: 100%;
}

.names {
  display: flex;
  justify-content: space-around;
}

.name1 {
  padding-top: 10px;
  padding-right: 42%;
  display: none;
}

.name2 {
  padding-top: 10px;
  padding-left: 42%;
  display: none;
}
